@layer utils {
  :root {
    --color-main: oklch(70% 0.12 170);
    --bg-main: oklch(70% 0.12 170 / 0.3);
    --bg-main-up: oklch(70% 0.12 170 / 0.8);
  }

  .old {
    opacity: 0.25;
  }

  .bg-main {
    background-color: var(--bg-main);
  }

  .color-main {
    color: var(--color-main);
  }

  .color-item {
    color: oklch(70% 0.12 15);
  }

  .color-exp {
    color: oklch(70% 0.12 85);
  }

  .low {
    opacity: 0.35;
  }
}